<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/img/sepatu.png" />
        <link rel="stylesheet" href="/css/style.css" />
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>Ruckz Shoes Clean</title>
      </head>
    
    <body>
        {{>header}}
        
        <div class="container-fluid" id="home">
            <div class="row">
              <div class="col-12 background-image">
                <h1>Welcome to Ruckz Shoes Clean</h1>
                <p>Shoes Clean, Repaint / Recolor and Custom Art</p>
              </div>
            </div>
          </div>

        <div id="about">
        {{>about}}
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>