<!-- footer -->
<footer class="container-fluid text-start" id="footer">
  <div class="row">
    <div class="col-12 bottom-section">
      <h2>Contact Us</h2>
      <br />
      <p>Whatsapp : 0812 40490432</p>
      <p>E-mail : ruckzshoesclean@gmail.com</p>
      <p>Instagram : @ruckzshoesclean</p>
      <p>
        Jl. Prof. Hamka No.240, Air Tawar Bar., Kec. Padang Utara, Kota Padang,
        Sumatera Barat 25173
      </p>
      <p>
        <br />
        <!-- whatsapp -->
        <!-- <img src="./img/whatsapp.png" width="30px" /> -->
        <a href="https://wa.link/qr5niq"><img
            src="./img/whatsapp.png"
            width="30px"
          /></a>
        &nbsp;&nbsp;
        <!-- instagram -->
        <a
          href="https://www.instagram.com/ruckzshoesclean/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="
        ><img src="./img/instagram.png" width="30px" /></a>
        &nbsp;&nbsp;
        <!-- mail -->
        <a href="https://www.facebook.com/"><img
            src="./img/facebook.png"
            width="30px"
          /></a>
        &nbsp;&nbsp;
        <!-- location -->
        <a href="https://maps.app.goo.gl/psrNTjxCJB4CrUfXA"><img
            src="./img/lokasi.png"
            width="23px"
          /></a>
      </p>

      <!-- created -->
      <div class="created">
        <i><small>Created by Muhammad Asyrof 21343056</small></i>
        <p></p>
      </div>
    </div>
  </div>
</footer>

<button onclick="topFunction()" id="scrollToTopBtn" title="Go to top">
  <img src="./img/atas.png" width="23px" />
</button>

<!-- atas ke bawah -->
<script>
  // When the user scrolls down 20px from the top of the document, show the
  button window.onscroll = function () { scrollFunction(); }; function
  scrollFunction() { if ( document.body.scrollTop > 20 ||
  document.documentElement.scrollTop > 20 ) {
  document.getElementById("scrollToTopBtn").style.display = "block"; } else {
  document.getElementById("scrollToTopBtn").style.display = "none"; } } // When
  the user clicks on the button, scroll to the top of the document function
  topFunction() { document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera }
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() { // Scroll to the top of the document with animation
  $("html, body").animate({ scrollTop: 0 }, "slow"); }

</script>